{% extends "index.html" %}

{% block content %}

<h2>Search by any word category</h2>

<form method="GET">
    <div class="dropdown">
        <button class="dropbtn">Hover & select to search</button>
        <div class="dropdown-content" name="categories">
                <a href="/category-results/Agriculture">Agriculture</a>
                <a href="/category-results/Animals">Animals</a>
                <a href="/category-results/Food%20&%20Drink">Food & Drink</a>
                <a href="/category-results/Function%20word">Function word</a>
                <a href="/category-results/General">General</a>
                <a href="/category-results/Health%20&%20Body">Health & Body</a>
                <a href="/category-results/Household">Household</a>
                <a href="/category-results/Legal%20&%20Gov't">Legal & Government</a>
                <a href="/category-results/Nature%20&%20Environment">Nature & Environment</a>
                <a href="/category-results/Numbers">Number</a>
                <a href="/category-results/People">People</a>
                <a href="/category-results/Qualities">Qualities</a>
                <a href="/category-results/Quantity">Quantities</a>
                <a href="/category-results/Religion%20&%20Spirituality">Religion & Spirituality</a>
                <a href="/category-results/Social">Social</a>
                <a href="/category-results/Time">Time</a>
                <a href="/category-results/Work">Work</a>
        </div>
    </div>
</form>

{% for ab in a %}
    {{ ab['POS'] }}
    {{ ab['tunsiWord'] }}
    {{ ab['tunsiMeaning'] }}
    {{ ab['maltiWord'] }}
    {{ ab['maltiMeaning']}}
    <br>
{% endfor %}


{% endblock %}