{% extends "index.html" %}

{% block content %}
<h2>Check the Documentation page on the pronunciation guide used for each language.
    If you happen to make more sentences from the category search, and would like them
    to be added to this page, then please provide a sentence in Maltese, the other 
    in Tunisian Arabic with its cognate forms, an English translation and the sentence
    written in Arabic script with the cognates written as they would be. Send this through the 
    Contact Us page.

    We will take these sentences, review them and then add them to the appropriate category
    so that everyone can enjoy the similarities and cognates between both of these sister languages.

</h2>

<h3>Phrases between Tunisian Arabic and Maltese </h2>

</p>
Helow! Kif int illum? X'taghmel illum wara ix-xoghol (il-hidma)?
<br>
Labas! Kayf? int (Chniyya 7walik) lyum? Chniyya ta3mil ba3d mil-xidma?
<br>
How are you today? What are you doing after work?
<br>
<p>

</p>
Ma naghmelx xejn, ghandek zmien biex tilqani? (Malti doesn't have a "hatta", "xi" - "some" morphed into "xejn")
Ma na3mil 7atta chay, 3andik zman bach talqani?
I'm not doing anything, do you have some time to meet (or find) me?
<p>

</p>
Iva, ahna nilquna aktar tard (bil-meher, "meher" - "delay, procrastinate")
Aywa, a7na nalquna aktar mmaxxir
Yes, I do, we will meet later
<p>
<p>
    Il-boghod tal-bini taqrib kilometer ghad-dar
    L-banya b3id taqrib kilumatr 3ad-dar
    The building is about 1km from the house (Malti - "the building's distance")
</p>    
</p>

<p>
<h3>Basic phrases</h3>  

<p>

Xienu ismek? (“X'jismek?” is everyday Maltese)
Chnuwwa ismik?
What's your name?
</p>
<br>
<p>
Ismi (Jisimni) [name]
Ismi [name]
My name is...
</p>
<br>
<p>
Jiena marid/a
Ana mrid/a
I am sick.
</p>
<br>
<p>
Jiena **migrah/a (**migrah is "covered in ulcers" - mwegga/gggha is injured, ningerah - I was injured, gerahni/gerhuni - he/they injured me
Ana majru7/a
I am injured
</p>
<br>
<p>
htiegi/htiegajja b-tabib (htiega is more common, and possibly "hieg")
7ajti b-tbib
I need a doctor.
</p>
<br>
<p>

</p>

<p>
<h3>Dealing with money/currency</h3>

Taqbel il-hlas bid-dollar/[currency]
Tiqbil il-xlas bi-...[currency]
Do you accept [currency type]?
</p>
<br>
<p>
Tista tbiddelli il-flus?
Tnajjam tbaddalli il-flus?
Can you change money for me?
</p>
<br>
<p>

Fejn hu ATM? (based on the Tunsi, this would be "magna il-flus tal-banka")
Win makinat il-flus mta3 il-banka (money machine of the bank)
Where is the ATM?
</p>
<br>
<p>

Kemm tibdil il-flus? (There is no "qaddax" in Maltese)
B-qaddash tabdil il-flus?
What is the exchange rate?/How much to change money/currencies?
    </p>
    <br>
<p>

</p>

<h3>Health</h3>

<p>
Timxi ma' riglejnek u saqajnek
Timchi m3a rijlinek u saqinek
You walk with your legs and feet.
</p>
<br>
<p>

Itniffes hafna biex ma titghaxxex
Itnaffis bezzaf bach ma titGHachchacha
Breathe a lot to not lose energy.
</p>
<br>
<p>

Jqass il-lehgahu kul gimgha
YiqaSS l-la7jahu kul jim3a
He cuts his beard every week.
</p>
<br>
<p>

In-nies torox ma jistawx jismu'
In-nas Trush ma ynajjmuch yasm3u
Deaf people can't hear.
</p>
<br>
<p>

In-nies ghomja ma jistawx jaraw xejn
In-nas 3imyan ma ynajjmu jchufu hatta chay
Blind people can't see anything.
</p>
<br>
<p>

Fl-ghajnejnek fihom xfar, u hwiegeb
Fl-3ininik, fihum shafrat, u hwajib
The eyes have eyelashes and eyebrows.
</p>
<br>
<p>

Darbu l-miskin bi-ponnijiethom
DHrabu l-miskin bi-punyathum
They hit the poor boys with their fists.
</p>
<br>
<p>

</p>

<p>
<h3>Household</h3>

X’qisien huma ghaz-zokkor?
Ch’qyasat hum 3as-sukur
What are the measurements for the sugar?
</p>
<br>
<p>

Orbot il-hajta fix-xibka bil-labra
UrbuT il-xiT fich-chabka bil-ibra 
Tie the string into the net with a needle.
</p>
<br>
<p>

Raxx il-gnien b-ilma
Rach il-jnina bil-ma
Spray the garden with water.
</p>
<br>
<p>

Is-saffajja hi mghobbija bl-ikel
IS-Suffaya hi m3ibbya bil-makla
The strainer is full of food.
</p>
<br>
<p>

Tikinsu iz-zibel mill-qiegh tal-matbah/kcina
Tuknusu iz-zibla mill-qa3a tal-kujina
You all sweep the trash from the kitchen floor.
</p>
<br>
<p>

</p>

<p><h3></h3>Government/Legal
Il-hakem il-gdid tkellel illum u jahkem hawn issa
L-7akim il-jdid tkellil il-yum u yu7kum huni tawwa
The new ruler was crowned today and now governs here.
</p>
<br>
<p>

Xhedt il-kell jitkellel fuq il-hakem fil-mdina (belt) illum ("Mdina" is a specific place in Malta, "belt" is now "city")
Chhidt il-klil yitkillil fuq il-7akim fil-mdina ilyum
I witnessed the crown being put on the ruler in the city today.
</p>
<br>
<p>

Tahqar il-gensna kuljum
Ta7qir il-jinsna kulyum ("gens" also more commonly means "gender/sex" in both languages)
She opresses/tyrannizes our people/nation (race) every day.
</p>
<br>
<p>

Il-pulizja jirkeb il-habsijiet ("jirkeb" is "to make subservient")
L-bulis yarqib il-7busat
Police control the prisons.
    </p>
    <br>
<p>

</p>

<p>
<h3>Nature/Environment</h3>

Ir-ramel mill-bahar saddad ir-rsas. (‘rsas’ is ‘the act of squeezing’ in Malti)
Ir-rmal mill-b7ar Saddid ir-rSaS.
The sand from the ocean rusted the fuse.
</p>
<br>
<p>

Waqt ix-xemx ghotob, rajt delli
Waqtilli ich-chams GHrub, chuft DHuli
When the sun set, I saw my shadow.
</p>
<br>
<p>

Il-mewgiet serqu il-fidda.
L-mwaj sriqu l-fuDHDHa
The waves stole the silver.
</p>
<br>
<p>

Fit-telgha, xi haga jidahhan sadd in-nadir is-sema
FiT-Tal3a, haja yidaxxin sad in-naDHra is-sma.
On the hill, something smoking was blocking the view of the sky.
</p>
<br>
<p>

Il-wied jaghmel xi xrariet (“wied” is “torrent”, similar to “stream”)
L-wad ya3mil chrarat
Streams (of water) make sparks.
</p>
<br>
<p>

Zift jistaghmel biex jmedd it-toroq
Zift jista3mil bach yitmad iT-Turuq
Tar is used to lay down roads.
</p>
<br>
<p>

Ma tmissx ix-xwiek, sar tdorrok
Ma tmisch ich-chukat, sar tDHuruk
Don’t touch the thorns, it will hurt you.
</p>
<br>
<p>

Ir-rwejjah jinfhu il-werqtiet tas-sgar fix-xatt
Ir-rya7 yunfxuu l-awraq tach-chjar fich-chatt
The wind blows the leaves of the trees onto the beach.
</p>
<br>
<p>

Is-sgar ghandhom ferghat ma’ weraq
Ich-chjar 3andhum furu3 m3a awraq
Trees have branches with leaves.
</p>

<p>
    <br>
</p>

<p>
<h3>People</h3>

Ghandna sitta ahwa li xxiehru (“xxieher” - “to become famous”)
3andna sitta axwa chkun chuhra
We have six brothers who are famous (celebrities).
</p>
<br>
<p>

Il-kettieba kiteb ghaxra kotob
Il-katba ktib 3achra kutub
The writer wrote ten books.
</p>
<br>
<p>

Il-hawwief jimxi fil-ghabra
L-xawwaf yimchi fil-GHabra
The wanderer/coward walks through dust.
</p>
<br>
<p>

Ir-ragel u martu ghandhom tliet bniet
Ir-rajil u martu 3andhum tlath(a) bnat
The man and his wife have three daughters.
</p>
<br>
<p>

L-ghalliem ghallem lit-tlaleb kif jitlobu il-flus
L-mu3allim 3allim liT-Tullab kifach yuTlub il-flus
The teacher taught the beggars how to ask for money.
</p>
<br>
<p>

Illum l-ghid milied taz-zajjarin (“milied” is only used for “Christmas” even though the common Maltese speaker knows that “milied” technically means “birthday” too)
L-yum l-3ad milad taz-zuwwar
Today is the traveler’s birthdays.
</p>
<br>
<p>

L-omm se jwelled ghat-tarbija gdida fis-sptar
L-um bach ywallid 3al-bebe jdid fiS-SbiTar
The mother will give birth to a new baby in the hospital.
</p>
<br>
<p>

Il-kbirat jghossu l-ulied fil-milghab
L-ikbar y3issu l-wlad fil-mal3ib
The adults are watching the kids on the playground (field).
</p>
<br>
<p>

L-ghedewwak ma jsirx hawn illum
L-3duwwak ma ysirch hunna il-yum
Your enemy will not be here today.
</p>
<br>
<p>
<h3>Qualities</h3>

Il-ferh mhux merhi
Il-farha mahich mirxi
Happiness is not limp/loose.
</p>
<br>
<p>

Zghar jew kbir?
SGHir walla kbir?
Small or large?
</p>
<br>
<p>

Tghallem ilsien gdid, huwa hafif
T3allim lsan jdid, huwa xfif
Learning a new language, is easy.
</p>
<br>
<p>

It-triq     kien  tant   dejjaq   li  il-karozzi ma stajthomx     jidhohoml    it-triq.
It-Turuq kan yasir DHiyyiq illi il-karbha ma najjimhumch yidxalhum it-Turuq
The roads were so narrow that cars could not enter the street.
</p>
<br>
<p>

Il-bieb jew it-TV hu mahlul? Smajt xi haga (“mahlul” is “loose, slack” in Malti)
L-bab walla it-talvza hu ma7lul? Sma3it haja
Is the door open or TV on? I heard something.
</p>
<br>
<p>

Dieher li l-ghalliem sfar
DHahir illi il-mu3allim Sfar
It is apparent that the teacher went pale.
</p>
<br>
<p>

Gildhu safrani, hu mhux bis-sahha (“isfar” means “yellow” in Malti)
Jildhu aSfir, hu mahich bis-sa77a
His skin is pale/yellow, he is not healthy.
</p>
<br>
<p>

In-nies fqar ma jistawx jixtri xejn
In-nas fuqara ma ynajjimch yichri hatta chay
Poor people can’t buy anything.
</p>
<br>
<p>

</p>

<p>
<h3>Time</h3>
Il-gimgha ghandu sebgha nhar
Il-jim3a 3andhu sab3a nhar
The week has 7 days.
</p>
<br>
<p>
Marru ghal-knisja kul l-erbgha u l-hadd
Maru 3la knisyya kul n7ar l-irba3 u l-a7add
They went to church every Wednesday and Sunday.
</p>
<br>
<p>

M’hemmx waqt fil-Hamis
Ma thammach waqt fin-n7ar l-ixmis
There is not time on Thursday.
</p>
<br>
<p>

In-nies johorgu dejjem fl-ahhar il-gimgha (Malti is more likely to use “il-weekend”.)
In-nas yuxurju dima fil-axir ij-jimgha
People always go out on weekends.
</p>
<br>
<p>

Jirfdu kuljum ir-rummieniet
Yirfdu kulyum ir-rummanat
Everyday they step on the pomegranates.
</p>
<br>
<p>

Kemm jdum in-nofsinhar?
B-qaddach ydum in-nuSf in-n7ar
How long does noon last?
</p>
<br>
<p>

Il-mitghim hu miftuh ghal-24 is-saghat fin-nhar (“ristorant” is “restaurant” in Malti)
Il-maT3im hu mahlul 3la-24 is-swaya3 fin-n7ar
The restaurant is open 24 hours a day.
</p>
<br>
<p>

Mehher il-hrik sa ghada (“hrik” is “movement” in Malti)
Mmaxxir il-harka hatta GHudwa
They delayed the activity until tomorrow.
</p>
<br>
<p>

Min-nofs il-lejl sa is-sebh, nistennaw
Min-nuSSilil hatta is-sba7, nistannau
From midnight until morning/dawn, we wait.
</p>
<br>
<p>

Siegha siegha, nzuru ghal bliet ohrajn (“siegha siegha” means “hour hour” in Malti)
Sa3a sa3a, nzuru 3la buldan axar
Occasionally, we travel to different countries.
</p>
<br>
<p>

</p>

{% endblock %}
