{% extends "index.html" %}

{% block content %}
<!-- Root search -->
<form action="/resources/gabra/roots" class="form-inline" id="RootIndexForm" method="get" accept-charset="utf-8">
    
    <div class="form-group">
      <label for="rootSearch">Select roots by letters  </label><select name="1r" class="form-control" id="firstRadical">
    <option value=""></option>
    <option value="b">b</option>
    <option value="ċ">ċ</option>
    <option value="d">d</option>
    <option value="f">f</option>
    <option value="ġ">ġ</option>
    <option value="g">g</option>
    <option value="għ">għ</option>
    <option value="h">h</option>
    <option value="ħ">ħ</option>
    <option value="j">j</option>
    <option value="k">k</option>
    <option value="l">l</option>
    <option value="m">m</option>
    <option value="n">n</option>
    <option value="p">p</option>
    <option value="q">q</option>
    <option value="r">r</option>
    <option value="s">s</option>
    <option value="t">t</option>
    <option value="v">v</option>
    <option value="w">w</option>
    <option value="x">x</option>
    <option value="ż">ż</option>
    <option value="z">z</option>
    <option value="(j|w)">j/w</option>
    <option value="'">'</option>

    </select><select name="2r" class="form-control" id="secondRadical">
    <option value=""></option>
    <option value="b">b</option>
    <option value="ċ">ċ</option>
    <option value="d">d</option>
    <option value="f">f</option>
    <option value="ġ">ġ</option>
    <option value="g">g</option>
    <option value="għ">għ</option>
    <option value="h">h</option>
    <option value="ħ">ħ</option>
    <option value="j">j</option>
    <option value="k">k</option>
    <option value="l">l</option>
    <option value="m">m</option>
    <option value="n">n</option>
    <option value="p">p</option>
    <option value="q">q</option>
    <option value="r">r</option>
    <option value="s">s</option>
    <option value="t">t</option>
    <option value="v">v</option>
    <option value="w">w</option>
    <option value="x">x</option>
    <option value="ż">ż</option>
    <option value="z">z</option>
    <option value="(j|w)">j/w</option>
    <option value="'">'</option>

    </select><select name="3r" class="form-control" id="thirdRadical">
    <option value=""></option>
    <option value="b">b</option>
    <option value="ċ">ċ</option>
    <option value="d">d</option>
    <option value="f">f</option>
    <option value="ġ">ġ</option>
    <option value="g">g</option>
    <option value="għ">għ</option>
    <option value="h">h</option>
    <option value="ħ">ħ</option>
    <option value="j">j</option>
    <option value="k">k</option>
    <option value="l">l</option>
    <option value="m">m</option>
    <option value="n">n</option>
    <option value="p">p</option>
    <option value="q">q</option>
    <option value="r">r</option>
    <option value="s">s</option>
    <option value="t">t</option>
    <option value="v">v</option>
    <option value="w">w</option>
    <option value="x">x</option>
    <option value="ż">ż</option>
    <option value="z">z</option>
    <option value="(j|w)">j/w</option>
    <option value="'">'</option>

    </select><select name="4r" class="form-control" id="fourthRadical">
    <option value=""></option>
    <option value="none">none</option>
    <option value="b">b</option>
    <option value="ċ">ċ</option>
    <option value="d">d</option>
    <option value="f">f</option>
    <option value="ġ">ġ</option>
    <option value="g">g</option>
    <option value="għ">għ</option>
    <option value="h">h</option>
    <option value="ħ">ħ</option>
    <option value="j">j</option>
    <option value="k">k</option>
    <option value="l">l</option>
    <option value="m">m</option>
    <option value="n">n</option>
    <option value="p">p</option>
    <option value="q">q</option>
    <option value="r">r</option>
    <option value="s">s</option>
    <option value="t">t</option>
    <option value="v">v</option>
    <option value="w">w</option>
    <option value="x">x</option>
    <option value="ż">ż</option>
    <option value="z">z</option>
    <option value="(j|w)">j/w</option>
    <option value="'">'</option>

    </div>
    <input name="s" value="" class="form-control" id="root-search" placeholder="Search Tunsi<->Malti Roots" autofocus="autofocus" type="text">  </div><!-- input-group -->
    </div>

    </form>
    <!-- End of root search -->
    

{% endblock %}