{% extends "index.html" %}

{% block content %}
	{% if entry %} 

	<div class="container" id="wordDisplay">
			<div id="mainWordInfo"> 
					<h2></h2><strong>Trilateral/Quadrilateral Root: </strong>
					{{ entry['triQuadRoot'] }}
					<br>
					<br>
					<strong>Part of speech: </strong>
					{{ entry['POS']}}
					<br>
					<br>
					<strong>Word Category: </strong>
					{{ entry['wordCategory']}}
					<br>
					<br>
			</div>

			<div id="tunsiSide">
					<h1><strong>{{ entry['tunsiWord'] }}</strong></h1>
					<strong>Tunisian Word: </strong>
					{{ entry['tunsiWord'] }} 
					<br>
					<br>
					<strong>Tunisian meaning: </strong>
					{{ entry['tunsiMeaning']}}
					<br>
					<br>
			</div>

			<div id="maltiSide">
					<h1><strong>{{ entry['maltiWord'] }}</strong></h1>
					<strong>Maltese Word: </strong>
					{{ entry['maltiWord']}}
					<br>
					<br>
					<strong>Maltese meaning: </strong>
					{{ entry['maltiMeaning']}}
			</div>
		<!-- <h1>{{ entry['maltiWord']}} </h1>
		<strong>Trilateral/Quadrilateral Root: </strong>
		{{ entry['triQuadRoot'] }}
		<br>
		<br>
		<strong>Part of speech: </strong>
		{{ entry['POS']}}
		<br>
		<br>
		<strong>Word Category: </strong>
		{{ entry['wordCategory']}}
		<br>
		<br>
		<strong>Tunisian Word: </strong>
		{{ entry['tunsiWord'] }} 
		<br>
		<br>
		<strong>Tunisian meaning: </strong>
		{{ entry['tunsiMeaning']}}
		<br>
		<br>
		<strong>Maltese Word: </strong>
		{{ entry['maltiWord']}}
		<br>
		<br>
		<strong>Maltese meaning: </strong>
		{{ entry['maltiMeaning']}}
		<br>
		<br> -->
	</div>

		{% else %}
		<h2>No results.</h2>
	{% endif %}
			
		
{% endblock %}
